<% content_for :body_class, "#{ @colour }" %>

<h1<% if @team_name.length > 30 %> class="long"<% end %>>
  <% @team_name = @team_name.gsub(/^(GOV.UK)/i, "\\1<br>") %>
  <%= (@team_name.upcase == @team_name || @team_name.downcase == @team_name) ? sanitize(@team_name.upcase) : sanitize(@team_name) %>
</h1>
